/* GENERAL STUFF */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

/* GAME-LEVEL */
.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  position: absolute;
  left: 10%;
  right: 10%;
}

.game-info {
  margin-left: 20px;
}

/* CARD-LEVEL */
.card-row:after {
  clear: both;
  content: "";
  display: table;
}

.header {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

/* SQUARE-LEVEL */

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 160px;
  position: relative;
}

.square:focus {
  outline: none;
}

.category {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.2;
}

.title {
  font-size: 14px;
  margin-left: 2px;
  margin-right: 2px;
}

.author {
  font-style: italic;
  text-align: center;
  font-size: 12px;
}

.percent {
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  position: absolute;
  /* this centers the buttons in the square */
  left: 25%;
  right: 25%;
  bottom: 10px;
}

.form {
  /*position: absolute;*/
  left: 20%;
  right: 20%;
}

.hardmodecheck {
  margin-left: 5px;
  margin-right: 5px;
}